/deps
/*.db
/plex.conf
/zwcfg_*.xml
/*.log
/OZW_Log.txt
/*.sqlite
/zwscene.xml
/secrets.yaml
/.HA_VERSION
/__pycache__
/.google.token
/.googlevoice
/.uuid
/google_calendars.yaml
/known_devices.yaml
/*.crt
/*.key
/html5_push_registrations.conf

/states/*
!/states/.gitkeep