/deps
/*.db
/plex.conf
/zwcfg_*.xml
/*.log
/OZW_Log.txt
/*.sqlite
/zwscene.xml
/secrets.yaml
/.HA_VERSION
__pycache__
/gv_utils.pyc
/states/*
!/states/.gitkeep
.google.token
.googlevoice
.uuid
google_calendars.yaml
known_devices.yaml